<div class="container mt-5">
    <div class="row">
        <div class="col-4" *ngFor="let car of arrCars; let i = index">
            <div class="car card">
                <div class="header">
                    <img src="{{ car.image }}" class="img-fluid" />
                </div>
                <div class="info">
                    <p>{{ car.name }}</p>
                    <p>
                        <strong>Valor: </strong>
                        <span>R${{ car.value }}</span>
                    </p>
                    <button (click)="rentCar(i)" class="btn btn-warning">
                        Alugar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
